[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmeterium = "==0.0.3"
boto3 = "==1.17.20"
MapColoniesJSONLogger = "==1.0.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
